//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-dark;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;

      display: flex;
      flex-direction: column;

      text-align: center;

      li {
        position: relative;

        &>ul {
          display: none;

          background: $color-bg-dark;

          li {
            width: 100%;
          }

        }

        &:hover>ul {
          display: block;

        }

      }

      a {
        padding: 5px 10px;
      }

    }

  }

}


@media screen and (min-width: $breakpoint-sm) {

  .header-page {

    nav {
      flex-direction: row;

      ul {
        flex-direction: row;
      }

      li>ul{
        min-width: 180px;

        position: absolute;
        z-indez: 50;
        top: 100%;

      }

    }

  }

}








